@import "fonts.css";

.preloader{
    flex-wrap: nowrap;
}
.dark{
    background-color: black;
}
.central{
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloading {
    position: fixed;
    z-index: 2100;
}
.orange 
{ 
    background-color : orangered ; 
}
.ball {
    z-index: 1050;
    height: 70px;
    width: 70px;
    margin-left: 70px;
    border-radius: 50%;
}
.fixed-center{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-8%, -50%);
}
body {
    font-weight: 400;
    background-color: black; 
}
.logo{
    position: fixed;
    top: 50px;
    left: 20px;
    z-index: 10;
}
.primary-font {
    font-family: Heading, 'sans-serif';
}
.portion{
    cursor: pointer;
    position: fixed;
    top: 0;
    width: 25%;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23232399;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 400ms ease-out;
}
.p-1 {
    left: 0;
    background-color:blue;
}
.p-2 {
    left: 25%;
    background-color:green;
}
.p-3 {
    left: 50%;
    background-color:red;
}
.p-4{
    left : 75%;
    background-color:purple;
}
.portion.clickable:hover {
    filter: brightness(150%);
    transition: all 400ms ease-out;
}
.tile-heading {
    position: relative;
    font-size: 42px;
}
.tile-info {
    font-size: 20px;
    padding-top: 50px;
}
.underline {
    position: absolute;
    bottom: -25px;
    width: 100%;
    height: 50px;
    left: 0;
}
.underline img {
    width: 100%;
}
.back-box{
    display: flex;
    position: fixed;
    z-index: 100;
    top: 130px;
    left: 50px;
    opacity: 0;
    cursor: pointer;
    align-items: center;
}
.back-box .back-button {
    height: 50px;
    width: 50px;
    color: #DB4343;
    background: white;
    border-radius: 50%;
    border: none;
}
.back-box .back-button:focus {
    outline: none
}
.back-box .back-text {
    font-weight: 700;
    font-style: italic;
    padding-left: 15px;
    color: white;
}