.preloader{
    flex-wrap: nowrap;
}
.dark{
    background-color: black;
}
.central{
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloading {
    position: fixed;
    z-index: 2100;
}
.orange 
{ 
    background-color : orangered ; 
}
.ball {
    z-index: 1050;
    height: 70px;
    width: 70px;
    margin-left: 70px;
    border-radius: 50%;
}
.fixed-center{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-8%, -50%);
}