@import "fonts.css";
.dark{
    background-color: black;
}
.central{
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary-font {
    font-family: Heading, 'sans-serif';
}
.preloader{
    flex-wrap: nowrap;
}
.preloading {
    position: fixed;
    z-index: 2100;
}
.orange 
{ 
    background-color : orangered ; 
}
.ball {
    z-index: 1050;
    height: 70px;
    width: 70px;
    margin-left: 70px;
    border-radius: 50%;
}
.fixed-center{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-8%, -50%);
}
.logo{
    position: fixed;
    top: 50px;
    left: 20px;
    z-index: 10;
}
.quarter{
    cursor: pointer;
    position: fixed;
    top: 0;
    width: 25%;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23232399;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 400ms ease-out;
}
.quarter.clickable:hover {
    filter: brightness(150%);
    transition: all 400ms ease-out;
}
.q-1 {
    left: 0;
    background-image: url("../images/bg/p11.jpg");
}
.q-2 {
    left: 25%;
    background-image: url("../images/bg/p22.jpg");
}
.q-3 {
    left: 50%;
    background-image: url("../images/bg/p33.jpg");
}
.q-4 {
    left: 75%;
    background-image: url("../images/bg/p44.jpg");
}
.tile-heading {
    position: relative;
    font-size: 42px;
}
.tile-info {
    font-size: 20px;
    padding-top: 50px;
}
.underline {
    position: absolute;
    bottom: -25px;
    width: 100%;
    height: 50px;
    left: 0;
}
.underline img {
    width: 100%;
}
.back-box{
    display: flex;
    position: fixed;
    z-index: 100;
    top: 130px;
    left: 50px;
    opacity: 0;
    cursor: pointer;
    align-items: center;
}
.back-box .back-button {
    height: 50px;
    width: 50px;
    color: #DB4343;
    background: white;
    border-radius: 50%;
    border: none;
}
.back-box .back-button:focus {
    outline: none
}
.back-box .back-text {
    font-weight: 700;
    font-style: italic;
    padding-left: 15px;
    color: white;
}
.round-button{
    position: fixed;
    bottom: 50px;
    left: calc(50% - 25px);
    border: 2px solid #FFF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}
body {
    font-family: Primary , sans-serif;
    font-weight: 400;
    background-color: black; 
}
.circle {
    background: url("../images/circle.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 130px;
    font-family: PrimaryLight;
    font-size: 32px;
    cursor: pointer;
}
.circle img {
    width: 60px;
}
div:first-of-type > .circle img{
    width: 80px ;
}
.circle.home{
    cursor: default ;
    padding: 100px 0;
    border-radius: 10px;
    background: url("../images/circle.svg"), url("../images/projects/background.svg");
}
.fixed-circle {
    position: fixed;
    background: white;
    border-radius: 50%;
    height: 1px;
    width: 1px;
    transform: translate(-50%, -50%);
    z-index: 11;
    animation: scaleBig 600ms ease-out;
    animation-fill-mode: forwards;

}
.data-holder {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: white;
    background-image: url("../images/projects/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 12;
}
.heading {
    width: 100%;
    padding: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    width: 100%;
    padding: 30px 0;
    height: calc(100vh - 208px);
    display: flex;
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
}
.content::-webkit-scrollbar{ width: 5px }
.content::-webkit-scrollbar-track { background: transparent }
.content::-webkit-scrollbar-thumb{ background: #232323; border-radius: 5px }

.content > div > div:last-of-type {
    margin-bottom: 90px;
}

.skill-title{
    position: relative;
}
.skill-bar{
    position: absolute;
    bottom: -10px;
    width: 40px;
    height: 3px;
    border-radius: 4px;
    background: #232323;
    left: calc(50% - 20px)
}
.heads{
    font-family: PrimaryLight;
    font-size: 56px;
}


.social img {
    width: 30px !important;
}

